Source: ros-hydro-gazebo
Section: misc
Priority: extra
Maintainer: Nate Koenig <nate@osrfoundation.org>
Build-Depends: debhelper (>= 7.0.50~), cmake, libcegui-mk2-dev, libcurl4-openssl-dev, libfreeimage-dev, libltdl-dev, libogre-dev, libprotobuf-dev, libprotoc-dev, libqt4-dev, libqt4-opengl-dev, libtar-dev, libtbb-dev, libtinyxml-dev, libtool, libxml2-dev, pkg-config, protobuf-compiler, ros-hydro-console-bridge, ros-hydro-urdfdom, ros-hydro-urdfdom-headers
Homepage: http://gazebosim.org/
Standards-Version: 3.9.2

Package: ros-hydro-gazebo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcegui-mk2-dev, libcurl4-openssl-dev, libfreeimage-dev, libltdl-dev, libogre-dev, libprotobuf-dev, libprotoc-dev, libqt4-dbus, libqt4-network, libqt4-opengl-dev, libqt4-script, libqt4-test, libqt4-xml, libqtcore4, libtar-dev, libtbb-dev, libtinyxml-dev, libtool, libxml2-dev, protobuf-compiler, ros-hydro-console-bridge, ros-hydro-urdfdom, ros-hydro-urdfdom-headers
Description: Gazebo is a multi-robot simulator for outdoor environments. Like Stage, it is capable of simulating a population of robots, sensors and objects, but does so in a three-dimensional world. It generates both realistic sensor feedback and physically plausible interactions between objects (it includes an accurate simulation of rigid-body physics).
